@{
    ViewBag.Title = "DataMatch";
}
<head>
    <style>
        #table {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:nth-child(odd) {
            background-color: white;
        }

        tr:hover {
            background-color: #ddd;
        }

        th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #0862C2;
            color: white;
        }
    </style>
</head>
<h3>Hasil Data Match</h3>
<div class="container">
    <div class="row">
        <div class="well">

            <div class="clearfix" style="margin:10px;">
                <button class="btn btn-danger" id="ResetDataMatch" onclick="ResetTable()">Reset</button>

            </div>
            <table id="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Status</th>
                        <th>idPelapor</th>
                        <th>periodeLaporan</th>
                        <th>periodeData</th>
                        <th>nomorRefTransaksi</th>
                        <th>idPihakLawan</th>
                        <th>kontrak</th>
                        <th>variabelMendasari</th>
                        <th>peranPelapor</th>
                        <th>jamTransaksi</th>
                        <th>tanggalEfektif</th>
                        <th>tanggalAwalForward</th>
                        <th>tanggalValuta</th>
                        <th>tanggalJatuhTempo</th>
                        <th>valutaDasar</th>
                        <th>valutaLawan</th>
                        <th>nominalValutaDasar</th>
                        <th>kursTransaksi</th>
                        <th>strikePrice2</th>
                        <th>baseRate</th>
                        <th>premiSwap</th>
                        <th>premiOption</th>
                        <th>styleOption</th>
                        <th>periodePembayaranBunga</th>
                        <th>valutaDasarJnsSukuBunga</th>
                        <th>valutaDasarJnsSukuBungaAcuan</th>
                        <th>valutaDasarTenorSukuBungaAcuan</th>
                        <th>valutaDasarPremiumSukuBungaAcuan</th>
                        <th>valutaDasarSukuBungaTetap</th>
                        <th>valutaLawanJnsSukuBunga</th>
                        <th>valutaLawanJnsSukuBungaAcuan</th>
                        <th>valutaLawanTenorSukuBungaAcuan</th>
                        <th>valutaLawanPremiumSukuBungaAcuan</th>
                        <th>valutaLawanSukuBungaTetap</th>
                        <th>hargaFutures</th>
                        <th>keteranganTransaksi</th>
                        <th>transaksiPihakAsing</th>
                        <th>lcsNegaraMitra</th>
                        <th>nettingNomorReferensiTransaksiTerakhir</th>
                        <th>nettingTujuan</th>
                        <th>nettingVolume</th>
                        <th>dynamicHedgingNomorReferensiTransaksiTerakhir</th>
                        <th>CreateDate</th>
                    </tr>
                </thead>
                <tbody class="tbody"></tbody>
            </table>
        </div>
    </div>
</div>



<script src="~/Scripts/jquery-1.12.4.js"></script>

<script>
    $(document).ready(function () {

        var table = $('#table').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            "scrollX": true,
            "ajax": {
                "url": "@Url.Action("GetTransaksi", "Home")",
            "type": "GET",
            "datatype": "json"
        },
            "columns": [
                   {
                       render: (data, type, row, meta) => {
                           return meta.row + meta.settings._iDisplayStart + 1;
                       }
                   },
                        { "data": "Status.Name", "autoWidth": true },
                        { "data": "DataAntasena.idPelapor", "autoWidth": true },
                      { "data": "DataAntasena.periodeLaporan", "autoWidth": true },
                      { "data": "DataAntasena.periodeData", "autoWidth": true },
                      { "data": "DataAntasena.nomorRefTransaksi", "autoWidth": true },
                      { "data": "DataAntasena.idPihakLawan", "autoWidth": true },
                      { "data": "DataAntasena.kontrak", "autoWidth": true },
                      { "data": "DataAntasena.variabelMendasari", "autoWidth": true },
                      { "data": "DataAntasena.peranPelapor", "autoWidth": true },
                      { "data": "DataAntasena.jamTransaksi", "autoWidth": true },
                      { "data": "DataAntasena.tanggalEfektif", "autoWidth": true },
                      { "data": "DataAntasena.tanggalAwalForward", "autoWidth": true },
                      { "data": "DataAntasena.tanggalValuta", "autoWidth": true },
                      { "data": "DataAntasena.tanggalJatuhTempo", "autoWidth": true },
                      { "data": "DataAntasena.valutaDasar", "autoWidth": true },
                      { "data": "DataAntasena.valutaLawan", "autoWidth": true },
                      { "data": "DataAntasena.nominalValutaDasar", "autoWidth": true },
                      { "data": "DataAntasena.kursTransaksi", "autoWidth": true },
                      { "data": "DataAntasena.strikePrice2", "autoWidth": true },
                      { "data": "DataAntasena.baseRate", "autoWidth": true },
                      { "data": "DataAntasena.premiSwap", "autoWidth": true },
                      { "data": "DataAntasena.premiOption", "autoWidth": true },
                      { "data": "DataAntasena.styleOption", "autoWidth": true },
                      { "data": "DataAntasena.periodePembayaranBunga", "autoWidth": true },
                      { "data": "DataAntasena.valutaDasarJnsSukuBunga", "autoWidth": true },
                      { "data": "DataAntasena.valutaDasarJnsSukuBungaAcuan", "autoWidth": true },
                      { "data": "DataAntasena.valutaDasarTenorSukuBungaAcuan", "autoWidth": true },
                      { "data": "DataAntasena.valutaDasarPremiumSukuBungaAcuan", "autoWidth": true },
                      { "data": "DataAntasena.valutaDasarSukuBungaTetap", "autoWidth": true },
                      { "data": "DataAntasena.valutaLawanJnsSukuBunga", "autoWidth": true },
                      { "data": "DataAntasena.valutaLawanJnsSukuBungaAcuan", "autoWidth": true },
                      { "data": "DataAntasena.valutaLawanTenorSukuBungaAcuan", "autoWidth": true },
                      { "data": "DataAntasena.valutaLawanPremiumSukuBungaAcuan", "autoWidth": true },
                      { "data": "DataAntasena.valutaLawanSukuBungaTetap", "autoWidth": true },
                      { "data": "DataAntasena.hargaFutures", "autoWidth": true },
                      { "data": "DataAntasena.keteranganTransaksi", "autoWidth": true },
                      { "data": "DataAntasena.transaksiPihakAsing", "autoWidth": true },
                      { "data": "DataAntasena.lcsNegaraMitra", "autoWidth": true },
                      { "data": "DataAntasena.nettingNomorReferensiTransaksiTerakhir", "autoWidth": true },
                      { "data": "DataAntasena.nettingTujuan", "autoWidth": true },
                      { "data": "DataAntasena.nettingVolume", "autoWidth": true },
                      { "data": "DataAntasena.dynamicHedgingNomorReferensiTransaksiTerakhir", "autoWidth": true },
                      {
                        "autoWidth": true,
                        "render": function (data, type, row) {
                            return moment(row.CreateDate).format('MMMM Do YYYY, h:mm:ss a');
                            }
                      }

            ],
                "buttons": [
                    {
                        "text": '<i class="fa fa-file-excel-o"></i> Download Excel',
                        "extend": 'excelHtml5',
                        "className": 'btn btn-success',
                        "autoFilter": false,
                        "sheetName": 'Data',
                        "filename": "Report Transaksi Batch Upload Per -"  ,
                        "title": "Report Transaksi Batch Upload",
                        "message": "Tanggal : "  ,
                    }
                ]
        });

    })

    function ResetTable() {
        $.ajax({
            url: '@Url.Action("ResetTransaksi", "Home")',
            type: 'POST',
            contentType: false,
            processData: false,
            success: function (response) {
                swal({
                    title: "Success!",
                    text: "Data Sukses Direset",
                    type: "success",
                    showCancelButton: false,
                    showConfirmButton: true
                }, function () {
                    window.location.href = '@Url.Action("DataMatch", "Home")';
                });
            },
            error: function (response) {
                swal("Oops", "We couldn't connect to the server!", "error");
            }
        })
    }
</script>
